html,
body, #__next, .app-container {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 100%;
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	max-height: -webkit-fill-available;
}
* {
	box-sizing: border-box;
}

.mobile-height-fix {
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	max-height: -webkit-fill-available;
}

.thread-scroll {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
}

.thread-scroll.os-host-overflow-y {
	padding-right: 0.5rem;
}

.thread-scroll > .os-scrollbar {
	padding: 0px;
	background-color: #5b3214 !important;
	border-left: 1px solid #5b3214 !important;
	width: 0.5rem;
}

.thread-scroll > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
	background-color: #fcfcfc !important;
	border-radius: 0;
}

.grid-scroll {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
}

.grid-scroll.os-host-overflow-y {
	padding-right: 0.5rem;
}

.grid-scroll > .os-scrollbar {
	padding: 0px;
	background-color: transparent !important;
	width: 0.5rem;
}

.grid-scroll > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
	background-color: rgba(51, 51, 51, 0.4) !important;
	border-radius: 1rem;
}

.main-scroll {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-overflow-scrolling: touch;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.main-scroll.os-host-overflow-y {
	padding-right: 1rem;
}

.main-scroll > .os-scrollbar {
	padding: 0px;
	background-color: #5b3214 !important;
	border-left: 1px solid #5b3214 !important;
	width: 0.5rem;
}

.main-scroll > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
	background-color: #fcfcfc !important;
	border-radius: 0;
}

.audio-node-bg {
	background-color: rebeccapurple;
}

@font-face {
	font-family: 'NexaSlab-Bold';
	src: url('/fonts/NexaSlab-Bold/font.woff2'), url('/fonts/NexaSlab-Bold/font.woff');
}
@font-face {
	font-family: 'NexaText-Book';
	src: url('/fonts/NexaText-Book/font.woff2'), url('/fonts/NexaText-Book/font.woff');
}
@font-face {
	font-family: 'NexaSlabBlack';
	src: url('/fonts/NexaSlabBlack/font.woff2'), url('/fonts/NexaSlabBlack/font.woff');
}
@font-face {
	font-family: 'Nexa-Bold';
	src: url('/fonts/Nexa-Bold/font.woff2'), url('/fonts/Nexa-Bold/font.woff');
}
@font-face {
	font-family: 'NexaRustSans-Black';
	src: url('/fonts/NexaRustSans-Black/font.woff2'), url('/fonts/NexaRustSans-Black/font.woff');
}
