.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 100%;
}
* {
	box-sizing: border-box;
}
.thread-scroll::-webkit-scrollbar {
	width: 0.5rem;
	background-color: #5b3214;
}
.thread-scroll::-webkit-scrollbar-track {
	padding: 2px;
}
.thread-scroll::-webkit-scrollbar-thumb {
	background-color: #fcfcfc;
}
.thread-scroll {
	scrollbar-color: #fcfcfc #5b3214;
	scrollbar-width: thin;
}

.grid-scroll::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}
.grid-scroll::-webkit-scrollbar-track {
}
.grid-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(51, 51, 51, 0.4);
	border-radius: 0.5rem;
}
.grid-scroll {
	scrollbar-color: #5b3214 transparent;
	scrollbar-width: thin;
}

.queue-item-scroll::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}
.queue-item-scroll::-webkit-scrollbar-track {
}
.queue-item-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0.5rem;
}
.queue-item-scroll:hover::-webkit-scrollbar-thumb {
	background-color: rgba(51, 51, 51, 0.4);
	border-radius: 0.5rem;
}
.queue-item-scroll {
	scrollbar-color: #5b3214 transparent;
	scrollbar-width: thin;
}

.main-scroll::-webkit-scrollbar {
	width: 0.5rem;
	background-color: #5b3214;
}
.main-scroll::-webkit-scrollbar-track {
	padding: 2px;
}
.main-scroll::-webkit-scrollbar-thumb {
	background-color: #fcfcfc;
}
.main-scroll {
	scrollbar-color: #fcfcfc #5b3214;
	scrollbar-width: thin;
}

.audio-node-bg {
	background-color: rebeccapurple;
}
@font-face {
	font-family: 'NexaSlab-Bold';
	src: url('/fonts/NexaSlab-Bold/font.woff2'), url('/fonts/NexaSlab-Bold/font.woff');
}
@font-face {
	font-family: 'NexaText-Book';
	src: url('/fonts/NexaText-Book/font.woff2'), url('/fonts/NexaText-Book/font.woff');
}
@font-face {
	font-family: 'NexaSlabBlack';
	src: url('/fonts/NexaSlabBlack/font.woff2'), url('/fonts/NexaSlabBlack/font.woff');
}
@font-face {
	font-family: 'Nexa-Bold';
	src: url('/fonts/Nexa-Bold/font.woff2'), url('/fonts/Nexa-Bold/font.woff');
}
@font-face {
	font-family: 'NexaRustSans-Black';
	src: url('/fonts/NexaRustSans-Black/font.woff2'), url('/fonts/NexaRustSans-Black/font.woff');
}
